body {
width: 100%;
height: 100%;
font-family: Arial, Helvetica, sans-serif;
font-size: small;
background-image: url(https://images.unsplash.com/photo-1593371256584-ac70d0ab43d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTh8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
}

.div_body {
  width: 100%;
  height: 100%;
}
.containerdicas {
width: 900px;
height: 900px;
}

.palavra, .dica, .lineNum{
    display: inline-block;
    height: 1.4em;  
    padding: 0 5px;
  }

  .palavra{
    text-align: left;  
    width: 122px;
    margin: 0 20px 0 0;
  }

  .dica{
    width: 570px;
    margin: 0 0 4px 0;
    
  }

  .lineNum{
    font: 1em calibri;
    line-height: 1.8em;
  }
  
  .h3 {
    margin-left: 40%;
    color: #f57200;
  }

  .h4 {
    color: #f57200;
      }

  img {
    height: 100px;
    float: right;
  }

  .dicaBlock{
    /*position: relative;*/
    margin-bottom: 5em;
  }

  .char {
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 1px 0 0 -1px;
    width: 1.25em;
    height: 1.25em;
    text-align: center;
    background-color:#d9d9d9;
  }
  
  .box1 {
    height: 625px;
    width: 500px;
    position: relative;
  }

  input {
    width: 21px;
    height: 21px;
position: absolute;
margin: 0;
padding: 0;
  }

  /* CPU */
.cpu-1 {
  left: 45%;
  top: 16%
}

.cpu-2 {
  left: 50%;
  top: 16%
}

.cpu-3 {
  left: 55%;
  top: 16%
}

  /* FIM DA CPU */

/* ULA */

.ula-2 {
  left: 55%;
  top: 20%
}

.ula-3 {
  left: 55%;
  top: 24%
}

  /* FIM DA ULA */

  /* INICIO REGISTRADORES */

.registradores-1 {
  left: 24%;
  top: 24%
}

.registradores-2 {
  left: 28%;
  top: 24%
}

.registradores-3 {
  left: 32%;
  top: 24%
}

.registradores-4 {
  left: 36%;
  top: 24%
}

.registradores-5 {
  left: 40%;
  top: 24%
}

.registradores-6 {
  left: 45%;
  top: 24%
}

.registradores-7 {
  left: 50%;
  top: 24%
}

.registradores-9 {
  left: 60%;
  top: 24%
}

.registradores-10 {
  left: 65%;
  top: 24%
}

.registradores-11 {
  left: 70%;
  top: 24%
}

.registradores-12 {
  left: 75%;
  top: 24%
}

.registradores-13 {
  left: 80%;
  top: 24%
}

  /* FIM REGISTRADORES */

  /*  FLASH */
  .flash-1 {
    left: 80%;
    top: 12%
  }

  .flash-2 {
    left: 80%;
    top: 16%
  }

  .flash-3 {
    left: 80%;
    top: 20%
  }

  .flash-5 {
    left: 80%;
    top: 28%
  }
  /*  FIM FLASH */

  /* RAM */
.ram-2 {
  left: 50%;
  top: 28%
}

.ram-3 {
  left: 50%;
  top: 32%
}
  /* FIM RAM */

  /* EPROM */
  .eprom-2 {
    left: 27%;
    top: 28%
  }

  .eprom-3 {
    left: 27%;
    top: 32%
  }

  .eprom-4 {
    left: 27%;
    top: 36%
  }

  .eprom-5 {
    left: 27%;
    top: 40%
  }
 /* FIM EPROM */

 /* MEMORIA DE MASSA */
 .memoriamassa-2 {
  left: 32%;
  top: 40%
}

.memoriamassa-3 {
  left: 37%;
  top: 40%
}

.memoriamassa-4 {
  left: 42%;
  top: 40%
}

.memoriamassa-5 {
  left: 47%;
  top: 40%
}

.memoriamassa-6 {
  left: 52%;
  top: 40%
}

.memoriamassa-7{
  left: 57%;
  top: 40%
}

.memoriamassa-8{
  left: 62%;
  top: 40%
}

.memoriamassa-9{
  left: 67%;
  top: 40%
}

.memoriamassa-10{
  left: 72%;
  top: 40%
}

.memoriamassa-11{
  left: 77%;
  top: 40%
}

.memoriamassa-12{
  left: 82%;
  top: 40%
}

.memoriamassa-13{
  left: 87%;
  top: 40%
}

.memoriamassa-14{
  left: 92%;
  top: 40%
}
 /* FIM MEMORIA DE MASSA */

 /* ROM */
 .rom-2{
  left: 70%;
  top: 28%
}

.rom-3{
  left: 70%;
  top: 32%
}
 /* FIM ROM */

 /* CS */
 .cs-1{
  left: 87%;
  top: 36%
}
 /* FIM CS */

 /* ADRESS BUS */
 .addressbus-2{
  left: 92%;
  top: 44%
}

.addressbus-3{
  left: 92%;
  top: 48%
}

.addressbus-4{
  left: 92%;
  top: 52%
}

.addressbus-5{
  left: 92%;
  top: 56%
}

.addressbus-6{
  left: 92%;
  top: 60%
}

.addressbus-7{
  left: 92%;
  top: 64%
}

.addressbus-8{
  left: 92%;
  top: 68%
}

.addressbus-9{
  left: 92%;
  top: 72%
}

.addressbus-10{
  left: 92%;
  top: 76%
}
 /* FIM ADRESS BUS */

 /* DMA */
 .dma-2{
  left: 62%;
  top: 44%
}

.dma-3{
  left: 62%;
  top: 48%
}
 /* FIM DMA */

 /* i5 */
 .i5-2 {
  left: 36%;
  top: 28%
 }
 /* FIM i5 */

 /* DUAL CORE */
 .dual-1{
  left: 87%;
  top: 72%
 }

 .dual-3{
  left: 97%;
  top: 72%
 }

 .dual-4{
  left: 102%;
  top: 72%
 }

 .dual-5{
  left: 107%;
  top: 72%
 }

 .dual-6{
  left: 112%;
  top: 72%
 }

 .dual-7{
  left: 117%;
  top: 72%
 }

 .dual-8{
  left: 122%;
  top: 72%
 }
 /* FIM DUAL CORE */

 /* DATA BUS */
 .databus-6{
  left: 87%;
  top: 60%
 }
 
 .databus-5{
  left: 82%;
  top: 60%
 }
 
 .databus-4{
  left: 77%;
  top: 60%
 }
 
 .databus-3{
  left: 72%;
  top: 60%
 }

 .databus-2{
  left: 67%;
  top: 60%
 }
 
 .databus-1{
  left: 62%;
  top: 60%
 }

 /* FIM DATA BUS */

 /* QUAD CORE */
 .quad-1{
  left: 67%;
  top: 52%
 }

 .quad-2{
  left: 67%;
  top: 56%
 }

 .quad-3{
  left: 67%;
  top: 60%
 }

 .quad-4{
  left: 67%;
  top: 64%
 }

 .quad-5{
  left: 67%;
  top: 68%
 }


 .quad-6{
  left: 67%;
  top: 72%
 }

 .quad-7{
  left: 67%;
  top: 76%
 }

 .quad-8{
  left: 67%;
  top: 80%
 }
 /* FIM QUAD CORE */

 /* i7 */

 .i7-2 {
  left: 52%;
  top: 44%
 }


 /* INDICADORES DAS PALAVRAS */
 .numberBOX1 {
   background-color: purple;
   color:black;
    border: purple 1px solid;
    width: 21px;
    height: 23px;
    left: 15.80em;
    top: 23%;
    text-align: center;
 }
 
 .numberBOX2 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 23px;
   height: 23px;
   left: 21.30em;
   top: 9.70em;
   text-align: center;
}

.numberBOX3 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 23px;
   height: 23px;
   left: 7.70em;
   top: 15.35em;
   text-align: center;
}

.numberBOX4 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   left: 30.70em;
   top: 8em;
   text-align: center;
}

.numberBOX5 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 26.80em;
   top: 13.60em;
   text-align: center;
}

.numberBOX6 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 19.35em;
   top: 13.60em;
   text-align: center;
}

.numberBOX7 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 14.10em;
   top: 13.60em;
   text-align: center;
}

.numberBOX8 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 11.10em;
   top: 13.60em;
   text-align: center;
}

.numberBOX9 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 8.90em;
   top: 22.85em;
   text-align: center;
}


.numberBOX10 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 33.30em;
   top: 19.10em;
   text-align: center;
}

.numberBOX11 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 20.10em;
   top: 21.10em;
   text-align: center;
}

.numberBOX12 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 23.90em;
   top: 21.10em;
   text-align: center;
}

.numberBOX13 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 35.20em;
   top: 21.10em;;
   text-align: center;
}

.numberBOX14 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 25.80em;
   top: 26.65em;;
   text-align: center;
}

.numberBOX15 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 22.09em;
   top: 32.28em;
   text-align: center;
}

.numberBOX16 {
  background-color: purple;
  color:black;
   border: purple 1px solid;
   width: 21px;
   height: 23px;
   left: 31.50em;
   top: 37.90em;
   text-align: center;
}

 ::-webkit-input-placeholder {
  color: #f57200;
}

button {
  background-color: #7400b8;
border: transparent;
color: white;
height: 30px;
border-radius: 10px 08px 10px 08px;
}

.botoes {
margin-top: -600px;
margin-left: 580px;
}

.tips{
margin-top: 33%;
margin-left: 1%;
position: fixed;
}


